<header class="section">
  <nav>
    <ul class="section-links">
      <li><button>World</button></li>
      <li><button>San Francisco</button></li>
      <li><button>New York</button></li>
      <li><button>BootCamp Prep</button></li>
      <li><button>Jumpstart</button></li>
      <li><button>Online</button></li>
      <li><button>Marketing</button></li>
      <li><button>Sales</button></li>
      <li><button>TalentMatch</button></li>
      <li><button>Alumni</button></li>
      <li><button id="all">All</button></li>
  </nav>
</header>
