<h1>Create a new Cat!</h1>

<form action="<%= cats_url %>" method="POST">

    <label for="cat-name">Name</label>
    <input id="cat-name" type="text" name="cat[name]">
    <br>
    <label>Gender
    <% Cat::GENDERS.each do |gender| %>
        <input type="radio" name="cat[sex]" value="<%= gender %>"><%= gender.capitalize %>
    <% end %>
    </label>
    <br>
    <label for="cat-color">Color</label>
    <select id="cat-color" name="cat[color]">
    <option disabled selected>-- Select Color --</option>
    <%Cat::COLORS.each do |color|%>
        <option name="cat[color]"><%=color%></option>
    <%end%>
    </select>
    <br>
    <label>Birth-date
    <input type="date" name="cat[birth_date]">
    </label>
    <br>
    <label for="cat-description">Describe your cat</label>
    <br>
    <textarea id="cat-description" name="cat[description]" rows="5" cols="33">

    </textarea>
    <br>
    <input type="submit">
</form>